*.gem
*.rbc
.bundle
.config
.idea/
.kitchen.local.yml
.kitchen.yml
.kitchen/
.rspec
.yardoc
Berksfile.lock
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
instana.pem
lib/bundler/man
pkg
rdoc
spec/reports
test/integration/attributes/*yml
test/tmp
test/version_tmp
tmp
vendor/
